.title{
    text-align: left!important;
    max-width: 300px!important;
    /* padding-left: 10px!important; */
}

.totalTdKol{
    /* font-size: 14px!important; */
    /* font-weight: 700!important; */
    /* color: blue; */
    text-align: right!important;
}

.innerItems {
    background-color: rgba(231, 221, 209, 0.3);
}

.plus{
    cursor: pointer;
    text-align: center!important;
}

.clickable {
    cursor: pointer;
    transition: background-color 0.2s;
}

.clickable:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

