.box{
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  width: 350px;
  position: absolute;
  top: 40%;
  right: 40%;
  background: #fff;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}

@media (max-width: 700px) {
    .box {
      /* top: 10px; */
      right: 20px;
    }
}

@media screen {
  
}

.input {
  font-size: 18px;
}

.btnBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}