.item{
    border: 0.5px dotted #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.13);
}

.row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 5px;
    border-bottom: 0.5px dotted #000;
}

.h2{
    margin: 5px 0px;
    font-weight: 600;
}

.value {
    text-align: right;
}

.bottomTitle{
    margin-top: 15px;
}

.title{
    font-weight: 500 !important;
    text-align: left !important;
    padding-left: 10px !important;
}

.bold {
    /* font-weight: 600 !important; */
    color: blue;
}