.ico{
  width: 20px;
  height: 20px;
}

.user{
  /* min-width: 80px; */
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 0.5px dotted transparent;
}

.user:hover{
  border-color: #000;
}

.title{
  font-size: 16px;
  font-weight: 500;
}