.select{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
    min-height: 44px;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    border: var(--border-width) solid var(--border-color-light);
    border-radius: var(--border-radius-field);
    background-color: #fff;
    margin: 10px 0;
}
.option {
    font-size: 14px;
    color: blue;
}

.label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 10px 0px;
    text-align: left;
}

.chooseMe{
    color: red;
    font-size: 18px;
}
